

<%@lists.each do |list|%>
  <h2>list time stamp:</h2> <%=list.created_at%><br>
  <% list.contacts.each do |contact|%>
    <%=contact.name%><br>
    <%=contact.phone%><br>
    <%= @client.calls.get(contact.sid).duration %><br>
  <%end%>
<%end%>
