<div class="col-sm-6 login-div">
  <div class="panel-body">
		<div class="panel-heading clearfix">
			<h3 class="panel-title">Contactos</h3>

        <!-- <form class="" action="/calls" method="post">
          <label for="phone">Phone</label>
          <input type="text" name="phone" value="">
        </form> -->
      <%= form_tag user_contacts_path(current_user.id), :method => "Post", :class => "contact-form", :role => "form" do |f| %>
			  <div class="form-group form-inline">
          <input class="form-control col-sm-2 contact-new-input-name" type="text" name="name[one]" placeholder="Nombre De Contacto">
          <input class="form-control col-sm-2" type="text" name="phone[one]" placeholder="Ex: (805) 555-xxxx">
				</div>
				<div class="form-group form-inline">
          <input class="form-control col-sm-2 contact-new-input-name" type="text" name="name[two]" placeholder="Nombre De Contacto">
          <input class="form-control col-sm-2" type="text" name="phone[two]" placeholder="Ex: (805) 555-xxxx">
				</div>
				<div class="form-group form-inline">
          <input class="form-control col-sm-2 contact-new-input-name" type="text" name="name[three]" placeholder="Nombre De Contacto">
          <input class="form-control col-sm-2" type="text" name="phone[three]" placeholder="Ex: (805) 555-xxxx">
				</div>
				<div class="form-group form-inline">
          <input class="form-control col-sm-2 contact-new-input-name" type="text" name="name[four]" placeholder="Nombre De Contacto">
          <input class="form-control col-sm-2" type="text" name="phone[four]" placeholder="Ex: (805) 555-xxxx">
				</div>
				<div class="form-group form-inline">
          <input class="form-control col-sm-2 contact-new-input-name" type="text" name="name[five]" placeholder="Nombre De Contacto">
          <input class="form-control col-sm-2" type="text" name="phone[five]" placeholder="Ex: (805) 555-xxxx">
				</div>
				<div class="form-group form-inline">
          <input class="form-control col-sm-2 contact-new-input-name" type="text" name="name[six]" placeholder="Nombre De Contacto">
          <input class="form-control col-sm-2" type="text" name="phone[six]" placeholder="Ex: (805) 555-xxxx">
				</div>
				<div class="form-group form-inline">
          <input class="form-control col-sm-2 contact-new-input-name" type="text" name="name[seven]" placeholder="Nombre De Contacto">
          <input class="form-control col-sm-2" type="text" name="phone[seven]" placeholder="Ex: (805) 555-xxxx">
				</div>
				<div class="form-group form-inline">
          <input class="form-control col-sm-2 contact-new-input-name" type="text" name="name[eight]" placeholder="Nombre De Contacto">
          <input class="form-control col-sm-2" type="text" name="phone[eight]" placeholder="Ex: (805) 555-xxxx">
				</div>
				<div class="form-group form-inline">
          <input class="form-control col-sm-2 contact-new-input-name" type="text" name="name[nine]" placeholder="Nombre De Contacto">
          <input class="form-control col-sm-2" type="text" name="phone[nine]" placeholder="Ex: (805) 555-xxxx">
				</div>
				<div class="form-group form-inline">
          <input class="form-control col-sm-2 contact-new-input-name" type="text" name="name[ten]" placeholder="Nombre De Contacto">
          <input class="form-control col-sm-2" type="text" name="phone[ten]" placeholder="Ex: (805) 555-xxxx">
				</div>
        <%= submit_tag "Crear Nuevos Contactos", class:"btn btn-default contact-new-button" %>
      <%end%>
    </div>
  </div>
</div>
