<div class="col-sm-6 login-div">
  <div class="panel-body">
		<div class="panel-heading clearfix">
			<h3 class="panel-title">Contactos</h3>
			<form class="contact-form" role="form" action="/calls" method="POST">

				<div class="form-group form-inline">
          <input class="form-control col-sm-2 contact-new-input-name" type="text" name="phone" id="phoneNumber" placeholder="Nombre De Contacto">
          <input class="form-control col-sm-2" type="text" name="phone" id="phoneNumber" placeholder="Ex: (805) 555-xxxx">
				</div>
				<div class="form-group form-inline">
          <input class="form-control col-sm-2 contact-new-input-name" type="text" name="phone" id="phoneNumber" placeholder="Nombre De Contacto">
          <input class="form-control col-sm-2" type="text" name="phone" id="phoneNumber" placeholder="Ex: (805) 555-xxxx">
				</div>
				<div class="form-group form-inline">
          <input class="form-control col-sm-2 contact-new-input-name" type="text" name="phone" id="phoneNumber" placeholder="Nombre De Contacto">
          <input class="form-control col-sm-2" type="text" name="phone" id="phoneNumber" placeholder="Ex: (805) 555-xxxx">
				</div>
				<div class="form-group form-inline">
          <input class="form-control col-sm-2 contact-new-input-name" type="text" name="phone" id="phoneNumber" placeholder="Nombre De Contacto">
          <input class="form-control col-sm-2" type="text" name="phone" id="phoneNumber" placeholder="Ex: (805) 555-xxxx">
				</div>
				<div class="form-group form-inline">
          <input class="form-control col-sm-2 contact-new-input-name" type="text" name="phone" id="phoneNumber" placeholder="Nombre De Contacto">
          <input class="form-control col-sm-2" type="text" name="phone" id="phoneNumber" placeholder="Ex: (805) 555-xxxx">
				</div>
				<div class="form-group form-inline">
          <input class="form-control col-sm-2 contact-new-input-name" type="text" name="phone" id="phoneNumber" placeholder="Nombre De Contacto">
          <input class="form-control col-sm-2" type="text" name="phone" id="phoneNumber" placeholder="Ex: (805) 555-xxxx">
				</div>
				<div class="form-group form-inline">
          <input class="form-control col-sm-2 contact-new-input-name" type="text" name="phone" id="phoneNumber" placeholder="Nombre De Contacto">
          <input class="form-control col-sm-2" type="text" name="phone" id="phoneNumber" placeholder="Ex: (805) 555-xxxx">
				</div>
				<div class="form-group form-inline">
          <input class="form-control col-sm-2 contact-new-input-name" type="text" name="phone" id="phoneNumber" placeholder="Nombre De Contacto">
          <input class="form-control col-sm-2" type="text" name="phone" id="phoneNumber" placeholder="Ex: (805) 555-xxxx">
				</div>
				<div class="form-group form-inline">
          <input class="form-control col-sm-2 contact-new-input-name" type="text" name="phone" id="phoneNumber" placeholder="Nombre De Contacto">
          <input class="form-control col-sm-2" type="text" name="phone" id="phoneNumber" placeholder="Ex: (805) 555-xxxx">
				</div>
				<div class="form-group form-inline">
          <input class="form-control col-sm-2 contact-new-input-name" type="text" name="phone" id="phoneNumber" placeholder="Nombre De Contacto">
          <input class="form-control col-sm-2" type="text" name="phone" id="phoneNumber" placeholder="Ex: (805) 555-xxxx">
				</div>
				<button type="submit" class="btn btn-default contact-new-button">Crear Nuevos Contactos</button>
			</form>
    </div>
  </div>
</div>
