/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


// start of contact list css
.panel-title > a{
  color: blue;
}
// end of contact list css
 .center-text {
   text-align: center;
 }
 .panel-info > .panel-heading {
    color: white !important ;
    background-color: #222 !important;
    border-color: white !important;
}

  .contact-form input {
    margin-bottom: .5em;
  }
  .contact-new-input-name {
    margin-right: 1em;
  }

  .contact-form {
    margin-left: 2em;
  }

  .contact-new-button {
    margin-left: 6em;
    margin-top: 1em;
  }

  .display-inline {
    display: inline-block;
  }
  .pull-center {
    margin:auto !important;
  }
  .pull-right {
    float: right !important;
  }

  .inline {
    display:inline;
  }
  .btn-primary.btn-lg {
   color: #fff;
  //  background-color: #D13F31;
  //  border-color: #D13F31;
   background-color: #F0AD4E;
   border-color: #F0AD4E;

  }

  .btn-primary.btn-lg:hover  {
   color: #fff;
   background-color: #eb9316;
   border-color: #eb9316;
  }

  .number-input {
   margin-left: 1em;
  }
  .panel-title {
    font-size: 30px;
  }

  body {
    background: url('body-img.png');
  }

  .login-div {
    background: rgba(245, 245, 245, 0.4);
    margin-left: 20em;
    margin-top: 2em;
    margin-bottom: 10em;
    border-radius: 3px;
  }


  .panel-title {
  text-align: center;
  color:white;
  }

  .btn-new-contacts {
    margin-left: 11.5em;
  }

  .landing-body {
    height: auto;
  }
