/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 .pull-right {
   float: right !important;
 }
 .btn-primary.btn-lg {
     color: #fff;
     background-color: #D13F31;
     border-color: #D13F31;

 }

 .btn-primary.btn-lg:hover  {
     color: #fff;
     background-color: #222222;
     border-color: #222222;
 }

 .number-input {
   margin-left: 1em;
 }
.panel-title {
  font-size: 30px;
}

body {
  background: url('body-img.png');
}

.login-div {
  background: rgba(245, 245, 245, 0.4);
  margin-left: 20em;
  margin-top: 2em;
  margin-bottom: 10em;
}


.panel-title {
  text-align: center;
}

.btn-info {
  color: #fff;
  background-color: #222222;
  border-color: #222222;
}

.landing-body {
  height: auto;
}
